<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar style='background-size: 100% 100%; background-repeat: no-repeat; background-image: url("../../assets/bayArea.jpg")'>
  <button mat-button routerLink='/'>
    Home
  </button>
  <button *ngIf='authService.loggedInUser?.admin' class='users-button' routerLink='/adminUsersList' mat-raised-button>Users</button>
  <span style='flex: 1 1 auto;' class='user-name'>  <span *ngIf='authService.loggedInUser?.name'>Logged in as</span>  {{authService.loggedInUser?.name}}</span>
  <button class='logout-button' *ngIf="!authService.isAuthenticated" routerLink='/login' mat-raised-button>Login</button>
  <button routerLink='/register' *ngIf="!authService.isAuthenticated" mat-raised-button>Register</button>
  <button  *ngIf="authService.isAuthenticated" (click)='authService.logout()' mat-raised-button>Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>

