/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

textarea{
    width: 100%;
}

.mat-card-image:first-child{
    margin-top: 0px !important;
}
.user-name{
    font-size: 0.5em
}
/* #cmon{
    align-items: start !important;
}
*/
.friends-list div.mat-list-item-content{
    align-items: start !important;
} 
/* .mat-list .mat-list-item.friends-list .mat-list-item-content{
    align-items: start !important;
} */